/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

/* Common Layout */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* Navbar */
header {
    background: #0f172a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    max-width: 1100px;
    margin: auto;
}

.logo {
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* Hero */
.hero {
    background: linear-gradient(to right, #38bdf8, #0ea5e9);
    color: white;
    padding: 100px 20px;
}

.hero-content {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.hero span {
    color: #0f172a;
}

.sub {
    margin-top: 10px;
    font-size: 1.1rem;
}

/* Sections */
.section {
    max-width: 1100px;
    margin: auto;
    padding: 70px 20px;
}

.gray {
    background: #f8fafc;
    max-width: 100%;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    color: #0ea5e9;
    font-size: 2rem;
}

.section-text {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

/* Skills */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
}

.skill-card {
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
}

/* Projects */
.project-box {
    max-width: 700px;
    margin: auto;
    padding: 30px;
}

/* Education */
.education-card {
    max-width: 600px;
    margin: auto;
    padding: 25px;
    text-align: center;
}

/* Contact */
.contact-grid {
    max-width: 600px;
    margin: auto;
    text-align: center;
    line-height: 2;
}

/* Footer */
footer {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 15px;
}
